<% layout("layout/boilerplate.ejs") %>

    <div class="col-md-8 m-auto mb-5">
        <!-- to send file to the server we set encoding type to multipart/form-data -->
        <h1 class="mb-5">Login</h1>
        <form action="/login" method="POST" class="was-validated">
            <div class="mb-3">
                <label class="form-label" for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="username" required>
                <div class=" invalid-feedback">
                    Enter Registration Number
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="password" required>
                <div class=" invalid-feedback">
                    Enter Password
                </div>
            </div>
            <button class="btn btn-outline-success">Login</button>
        </form>
    </div>